.home {
    &__container {
        grid-template-columns: 1fr 2fr 1fr;
        @media (max-width: 768px) {
            grid-template-columns: none;
        }
    }

    &__title {
        p {
            @apply text-slate-800 text-center;
        }
    }

    &__blob {
        position: relative;
        width: 200px;
        height: 290px;
        background-color: hsl(207, 4%, 99%);
        border: 2px solid hsl(207, 4%, 56%);
        justify-self: center;
        border-radius: 6.25rem;
        place-items: center;
        @media (min-width: 1200px) {
            width: 400px;
            height: 580px;
            border-radius: 12.5rem;
        }
    }

    &__perfil {
        width: 170px;
        height: 260px;
        background: linear-gradient(180deg, hsla(207, 48%, 72%, 0), hsla(207, 65%, 65%, 1));
        border-radius: 5.5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (min-width: 1200px) {
            width: 340px;
            height: 520px;
            border-radius: 10.6rem;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            /* width: 150px; */
            @media (min-width: 1200px) {
                /* width: 300px; */
            }
        }
    }

    &__shape {
        &-wawes,
        &-circle {
            position: absolute;
            opacity: 0.1;
        }
        &-wawes {
            width: 50px;
            left: -1.5rem;
            top: 5rem;
            @media (min-width: 1200px) {
                width: 100px;
                left: -4rem;
                top: 10rem;
            }
        }
        &-circle {
            width: 150px;
            bottom: -2rem;
            right: -3rem;
            transform: rotate(15deg);
            z-index: -1;
            @media (min-width: 1200px) {
                width: 250px;
                bottom: -1rem;
                right: -5rem;
            }
        }
    }

    &__social {
        justify-self: center;
        display: flex;
        column-gap: 1.25rem;
        @media (min-width: 1200px) {
            column-gap: 2rem;
        }
        &-link {
            font-size: 1.25rem;
            transform: color 0.3s;
            @media (min-width: 1200px) {
                font-size: 1.5rem;
            }
        }
    }

    &__info {
        grid-template-rows: repeat(3, 130px);

        h3 {
            @apply text-xs font-bold font-sans text-gray-400;
            margin-bottom: 1rem;
        }

        p,
        a,
        ul {
            @apply text-base font-mono font-normal tracking-wide text-slate-800;
        }
        &-number {
            @apply text-4xl font-mono font-normal;
        }

        &:nth-child(3) * {
            text-align: right;
        }
    }
}
