@tailwind base;
@tailwind components;
@tailwind utilities;

// Dung color pallte gray cua tailwind

// Variables
$background-body: #f9fafb;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }

    /* ... */
    :root {
        scroll-behavior: smooth;
    }

    @media (prefers-color-scheme: dark) {
    }
}

body {
    background-color: $background-body;
    text-rendering: optimizeLegibility;

    .heading--title {
        @apply font-mono text-3xl font-medium text-center uppercase md:text-5xl;
    }
}

@import "./reuse.scss";

// Navigation
@import "../components/Header/style";

// Sections
@import "../pages/home/section/hero/style";
@import "../pages/home/section/projects/style";
