@tailwind base;
@tailwind components;
@tailwind utilities;

// Dung color pallte gray cua tailwind

// Variables
$font-primary: var(--font-opensans);
$font-second: var(--font-cardo);
$background-body: #f9fafb;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }

    /* ... */
    :root {
        scroll-behavior: smooth;
    }

    @media (prefers-color-scheme: dark) {
    }
}

body {
    background-color: $background-body;
    text-rendering: optimizeLegibility;

    .heading--title {
        @apply font-mono text-3xl font-medium text-center uppercase md:text-5xl;
    }
}

header {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    font-size: 14px;
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 9;
    pointer-events: none;
    padding: 0 40px;

    .nav-float {
        &__inner {
            position: relative;
            display: flex;
            justify-content: center;
        }
        &__wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            padding: 6px;
            border-radius: 12px;
            background: rgba(34, 34, 34, 0.8);
            pointer-events: auto;
            transition: all 0.4s;

            @media (max-width: 575px) {
                max-width: 100%;
                width: 100%;
            }
        }
        &__top {
            position: absolute;
            width: 100%;
            height: 300px;
            border-radius: 10px;
            display: none;
            opacity: 0;
            transform: scale(0.9);
            padding: 0 10px !important;
        }
        &__bottom {
            position: relative;
            display: flex;
            justify-content: center;
        }
    }

    .menu-float {
        &__title-section {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            margin: 0 12px 0 6px;
            line-height: 100%;
        }
        &__nav {
            position: relative;
            display: flex;
            margin-left: -6px;

            li {
                display: flex;
            }
        }
        &__logo {
            display: flex;
            color: #fff;
            font-weight: bold;
        }
        &__breadcrumb {
            display: inline-flex;
            align-items: center;
            flex-shrink: 0;
            height: 48px;
        }
        &__title {
            margin-left: -2px;
        }
        &__hamburger {
            position: relative;
            display: flex;
            align-items: center;
            width: 20px;
            height: 30px;
            cursor: pointer;
            pointer-events: auto;
            transition: all 0.3s;

            @media (max-width: 575px) {
                margin-left: auto;
            }
        }
        &__item {
            display: inline-flex;
            align-items: center;
            height: 48px;
            margin-left: 6px;
            padding: 0 12px;
            border-radius: 8px;
            color: #222;
            font-weight: 400;
            cursor: pointer;
            overflow: hidden;
            transition:
                max-width 0.3s,
                padding 0.3s,
                margin 0.3s,
                color 0.3s,
                background 0.3s,
                border-radius 0.3s,
                border-color 0.3s,
                opacity 0.3s;
        }
        &__content {
            display: inline-flex;
            align-items: center;
            gap: 6px;
            height: 60px;
            padding: 0 6px;
            text-align: center;
            border-radius: 8px;
            overflow: hidden;
        }
        &__layout {
            &--primary {
                @media (max-width: 575px) {
                    width: 100%;
                }
                .menu-float {
                    &__content {
                        display: flex;
                        padding: 0 20px;
                        background-color: #222;
                        color: #fff;
                    }
                }
            }
            &--secondary {
                flex: 1;
                margin-left: 6px;

                @media (max-width: 575px) {
                    display: none;
                }

                .menu-float {
                    &__content {
                        position: relative;
                        width: 100%;
                        background: #3e3e3e;
                        color: #d3d3d3;
                    }
                    &__item {
                        justify-content: center;
                        width: 100%;
                        border: 1px solid #4e4e4e;
                        color: #d3d3d3;
                        white-space: nowrap;
                        &.is-active {
                            border-color: #a7a7a7;
                        }
                        &:hover:not(.is-active) {
                            border-color: #a7a7a7;
                        }
                    }
                }
            }
        }
    }
}

.home {
    &__container {
        grid-template-columns: 1fr 2fr 1fr;
        @media (max-width: 768px) {
            grid-template-columns: none;
        }
    }

    &__title {
        p {
            @apply text-slate-800 text-center;
        }
    }

    &__blob {
        position: relative;
        width: 200px;
        height: 290px;
        background-color: hsl(207, 4%, 99%);
        border: 2px solid hsl(207, 4%, 56%);
        justify-self: center;
        border-radius: 6.25rem;
        place-items: center;
        @media (min-width: 1200px) {
            width: 400px;
            height: 580px;
            border-radius: 12.5rem;
        }
    }

    &__perfil {
        width: 170px;
        height: 260px;
        background: linear-gradient(180deg, hsla(207, 48%, 72%, 0), hsla(207, 65%, 65%, 1));
        border-radius: 5.5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &:hover {
        }

        @media (min-width: 1200px) {
            width: 340px;
            height: 520px;
            border-radius: 10.6rem;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            /* width: 150px; */
            @media (min-width: 1200px) {
                /* width: 300px; */
            }
        }
    }

    &__shape {
        &-wawes,
        &-circle {
            position: absolute;
            opacity: 0.1;
        }
        &-wawes {
            width: 50px;
            left: -1.5rem;
            top: 5rem;
            @media (min-width: 1200px) {
                width: 100px;
                left: -4rem;
                top: 10rem;
            }
        }
        &-circle {
            width: 150px;
            bottom: -2rem;
            right: -3rem;
            transform: rotate(15deg);
            z-index: -1;
            @media (min-width: 1200px) {
                width: 250px;
                bottom: -1rem;
                right: -5rem;
            }
        }
    }

    &__social {
        justify-self: center;
        display: flex;
        column-gap: 1.25rem;
        @media (min-width: 1200px) {
            column-gap: 2rem;
        }
        &-link {
            font-size: 1.25rem;
            transform: color 0.3s;
            @media (min-width: 1200px) {
                font-size: 1.5rem;
            }
            &:hover {
            }
        }
    }

    &__info {
        grid-template-rows: repeat(3, 130px);

        h3 {
            @apply text-sm font-mono text-gray-400;
            margin-bottom: 1rem;
        }

        p,
        a,
        ul {
            @apply text-base text-slate-800;
        }
        &-number {
            @apply text-4xl;
            @apply font-sans;
        }

        &:nth-child(3) * {
            text-align: right;
        }
    }
}

#projects {
    .splide {
        &__slide {
            padding-bottom: 10px;
        }
    }
}

.badge {
    &__item {
        @apply relative inline-flex justify-center items-center overflow-hidden bg-slate-100 px-3 py-2 rounded-md transition-all duration-200 cursor-pointer text-sm md:text-base;

        &.frequently::after {
            content: "";
            @apply absolute block w-full bottom-0 h-0.5 bg-slate-200 left-0;
        }
        &.occasionally::after {
            content: "";
            @apply absolute block w-1/4 bottom-0 h-0.5 bg-slate-200 left-0;
        }

        &:hover {
            transform: translateY(-2px);

            &.frequently::after,
            &.occasionally::after {
                @apply bg-slate-400;
            }
        }
    }
}
